@charset "UTF-8";

@import url("//fonts.googleapis.com/css?family=Nunito:400,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6%;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s ease;
}

.scrolled {
    padding: auto;
    background: #0033a0;
}

nav a img {
    width: 100px;
    transition: height 0.3s ease;
}

.nav-links {
    flex: 1;
    text-align: right;
    justify-content: flex-end; /* Agar teks ada di sisi kanan */
    align-items: center;
    margin-top: 10px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.nav-links ul li a.active {
    color: #f79000;
}

.nav-links ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #f79000;
    margin: auto;
    display: block;
    transition: 0.5s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

.btn:focus,
.btn:active,
.btn:active:focus,
.custom-select:focus,
.form-control:focus {
    box-shadow: none !important;
    outline: none;
}

.contain {
    width: 100%;
    left: 2rem;
    padding: 0px 15px;
    margin: 0 auto;
    height: 100%;
    align-content: center;
    z-index: 1;
}

.contain h3 {
    font-size: 30px;
}

.container-card {
    display: flex;
    gap: 0px;
    padding: 40px 20px;
}

.container-promotion {
    display: flex;
    flex-flow: column;
    margin-top: 180px;
    margin-bottom: 350px;
    align-items: center;
    justify-content: center;
    transform: scale(1.3);
}

.container-location {
    display: flex;
    justify-content: start;
    padding: 40px 0;
    flex-flow: column;
    max-width: 1400px;
}

.container-contact {
    flex-flow: row;
    margin: 150px;
    align-items: center;
}

.container-btn {
    width: 100%;
    padding: 0px 15px;
    margin: 10px auto;
    height: 100%;
}

.button-nav {
    text-decoration: none;
    background: #f79000;
    border-radius: 999px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 2px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.button-nav:hover {
    box-shadow: 0 0 10px 3px rgba(247, 144, 0, 0.8),
        0 0 20px 6px rgba(247, 144, 0, 0.5);
    transform: scale(1.05);
}

header {
    font-family: "Poppins", sans-serif;
}

.logo-hero {
    transform: scale(1.05);
    cursor: pointer;
    margin: 20px;
}

.nav-button {
    font-weight: 300;
    padding: 4px 15px;
    transition: color 0.3s ease;
}

.nav-button:hover,
.nav-button:focus,
.nav-button:active {
    text-decoration: none !important;
    transform: scale(1.05) !important;
}

.nav-link {
    font-weight: 300;
    padding: 7px 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f79000 !important;
    text-decoration: none !important;
    transform: scale(1.05) !important;
}
.nav-link:focus,
.nav-link:active {
    color: #f79000 !important;
    text-decoration: none !important;
    transform: scale(1.05) !important;
}

.nav {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.nav-item {
    list-style: none;
}

.hero-box {
    margin: 5px;
    padding-left: 280px;
    width: 36%;
    height: 550px;
    justify-content: start;
    background: url(hero1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-button {
    font-weight: 300;
    padding: 4px 15px;
    transition: color 0.3s ease;
}

.button-info {
    text-decoration: none;
    background: #f79000;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 8px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin-left: 80px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.button-info:hover {
    box-shadow: 0 0 10px 3px rgba(247, 144, 0, 0.8),
        0 0 20px 6px rgba(247, 144, 0, 0.5);
}

.info-button:hover,
.info-button:focus,
.info-button:active {
    text-decoration: none !important;
}

a:not(.btn-social-icon):not(.btn-social):not(.page-link) .ion,
a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fas,
a:not(.btn-social-icon):not(.btn-social):not(.page-link) .far,
a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fal,
a:not(.btn-social-icon):not(.btn-social):not(.page-link) .fab {
    margin-left: 4px;
}

.info-card {
    margin-top: -150px;
    border-radius: 999px;
    position: relative;
    z-index: 10;
}

.box-card-primary {
    display: flex;
    max-width: 40%;
    padding: 30px;
    flex-flow: wrap;
}

.card-head-primary {
    padding-left: 25px;
}

.card-desc-primary {
    padding-left: 80px;
}

.card-icon1 {
    margin: 3%;
}

.box-card-secondary {
    padding: 30px;
}

.card-icon-primary {
    align-items: center; /* Agar ikon sejajar vertikal dengan teks */
    gap: 10px; /* Jarak antara ikon dan teks */
}

.card-icon-primary img {
    max-width: 50px; /* Sesuaikan ukuran ikon */
    margin: auto;
}

.card-icon-secondary {
    margin: auto;
}

.full-info-card {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.card-head-secondary {
    margin: auto;
}

.card-desc-secondary {
    margin-top: 15px;
}

.icon1 {
    transform: scale(3);
    margin: 2rem;
}

.icon2 {
    margin-bottom: 29px;
}

.icon3 {
    margin-bottom: 17px;
}

.icon4 {
    margin-bottom: 11px;
}

@media (max-width: 1080px) {
    body {
        overflow-x: hidden;
    }

    .banner .contain {
        margin-left: 5rem;
    }

    .contain {
        width: 100%;
        right: 2rem;
        padding: 0px 15px;
        margin: 1rem;
        height: 100%;
        max-width: 768px;
        align-content: center;
        z-index: 1;
    }

    .full-info-card {
        flex-flow: column;
        width: 80%;
    }

    .box-card-secondary {
        padding: 180px;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .card-head-secondary {
        margin-left: -9rem;
    }

    .card-desc-secondary {
        margin-left: -9rem;
    }

    .icon1 {
        transform: scale(2.5);
        margin-left: 2.5rem;
    }

    .icon2, .icon3, .icon4 {
        margin-left: -9rem;
    }

    .card-head-secondary {
        align-content: end;
        text-wrap: nowrap;
    }

    .card-desc-secondary {
        transform: scale(1);
        margin-right: -9rem;
    }

    .info-card {
        margin-top: -100px;
    }

    .container-location {
        display: flex;
        justify-content: start;
        padding: 40px;
        flex-flow: column;
    }

    .container-contact {
        flex-flow: column;
    }

    .location-title {
        margin-left: -4rem;
    }

    .location-body {
        transform: scale(0.8);
        margin-left: -4rem;
    }

    .location-title h1 {
        transform: scale(0.8);
    }

    .location-body h1{
        text-wrap: nowrap;
    }

    .contact-box {
        flex-wrap: wrap-reverse;
        transform: scale(0.85);
        max-width: 94%;
    }

    footer {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 10%;
    }

    footer h5{
        transform: scale(0.8);
        margin-left: -1rem
        ;
    }
}

@media (max-width: 425px) {

    .contain {
        width: 100%;
        right: 2rem;
        padding: 0px 15px;
        margin: 0.5rem;
        height: 100%;
        max-width: 768px;
        align-content: center;
        z-index: 1;
    }

    .box-card-secondary {
        padding: 160px;
    }

    .card-head-secondary {
        margin-left: -7rem;
    }

    .card-desc-secondary {
        margin-left: -7rem;
    }

    .icon1 {
        transform: scale(2.5);
    }

    .icon2, .icon3, .icon4 {
        margin-left: -7rem;
    }

    .card-head-secondary {
        align-content: end;
        text-wrap: nowrap;
    }

    .card-desc-secondary {
        transform: scale(1);
        margin-right: -7rem;
    }

    .info-card {
        margin-top: -100px;
    }

    .container-contact {
        flex-flow: column;
    }

    .footer-box {
        transform: scale(5);
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
}

.logos:hover .logo-slides {
    animation-play-state: paused;
}

.logo-slides {
    display: inline-block;
    animation: 38s slide infinite linear;
}
.logo-slides img {
    height: 100px;
    margin: 0 40px;
}

.location {
    width: 100%;
    min-height: 75vh;
    background-image: url("../img/hero1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    place-items: center;
}

.location::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 51, 160, 0.75);
}

.location .container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.location .container .text {
    position: relative;
    z-index: 1;
    color: #fff;
    width: 1000px;
}

.location .container .text h1 {
    font-size: 3rem;
    padding-bottom: -0.5rem;
}

.location .container .text p {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: -1.5rem;
    max-width: 40rem;
}

.container-location .text h1 {
    font-size: 3rem;
    line-height: 10rem;
    padding-bottom: 2rem;
    color: #fff;
}

.container-location .text p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: 2rem;
    color: #fff;
}

.container-location .text label {
    font-size: 1.15rem;
    line-height: 1rem;
    padding-top: 0.3rem;
    color: #fff;
}

.location-title {
    margin-bottom: 20rem;
}

.location-head {
    margin-bottom: -3rem;
}

.footer {
    max-height: 10rem;
    width: 100%;
}

.contain .footer-link {
    text-decoration: none;
}

.copyright {
    padding-top: 5px;
    font-size: 1rem;
}

.bg-primary {
    background-color: #0033a0 !important;
}

.bg-secondary {
    background-color: #f79000 !important;
}

.bg-promotion {
    background-color: #ffffff !important;
}

.bg-logoslides {
    background-color: #f2f2f2 !important;
}

.bg-white3 {
    background-color: #f2f2f2 !important;
}

.bg-white2 {
    background-color: #f8f8f8 !important;
}

.bg-white1 {
    background-color: #ffffff !important;
}

.text-primary,
.text-primary-all *,
.text-primary-all *:before,
.text-primary-all *:after {
    color: #0033a0 !important;
}

.text-secondary,
.text-secondary-all *,
.text-secondary-all *:before,
.text-secondary-all *:after {
    color: #f79000 !important;
}

.text-light,
.text-light-all *,
.text-light-all *:before,
.text-light-all *:after {
    color: #e3eaef !important;
}

.text-white,
.text-white-all *,
.text-white-all *:before,
.text-white-all *:after {
    color: #ffffff !important;
}

.text-dark,
.text-dark-all *,
.text-dark-all *:before,
.text-dark-all *:after {
    color: #191d21 !important;
}

.font-weight-normal {
    font-weight: 500 !important;
}

.lead {
    line-height: 34px;
}

@media (max-width: 425px) {
    .lead {
        font-size: 17px;
        line-height: 30px;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p,
ul:not(.list-unstyled),
ol {
    line-height: 28px;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.form-control,
.input-group-text,
.custom-select,
.custom-file-label {
    background-color: #fdfdff;
    border-color: #e4e6fc;
}
.form-control:focus,
.input-group-text:focus,
.custom-select:focus,
.custom-file-label:focus {
    background-color: #fefeff;
    border-color: #95a0f4;
}

.input-group-text,
select.form-control:not([size]):not([multiple]),
.form-control:not(.form-control-sm):not(.form-control-lg) {
    font-size: 14px;
    padding: 10px 15px;
    height: 42px;
}

textarea.form-control {
    height: 64px;
}

.custom-control {
    line-height: 1.6rem;
}

.custom-file,
.custom-file-label,
.custom-select,
.custom-file-label:after,
.form-control[type="color"],
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 6px);
}

.form-control.creditcard {
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: 40px;
    padding-right: 60px;
}

.form-group {
    margin-bottom: 25px;
}
.form-group .control-label,
.form-group > label {
    font-weight: 600;
    color: #34395e;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.form-group.floating-addon {
    position: relative;
}
.form-group.floating-addon .input-group-prepend {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 5;
}
.form-group.floating-addon:not(.floating-addon-not-append) .input-group-append {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    left: initial;
    right: 0;
}
.form-group.floating-addon .input-group-prepend .input-group-text,
.form-group.floating-addon .input-group-append .input-group-text {
    border-color: transparent;
    background-color: transparent;
    font-size: 20px;
}
.form-group.floating-addon .form-control {
    border-radius: 3px;
    padding-left: 40px;
}
.form-group.floating-addon .form-control + .form-control {
    border-radius: 0 3px 3px 0;
    padding-left: 15px;
}

.input-group-append [class*="btn-outline-"] {
    background-color: #fdfdff;
}

.form-text {
    font-size: 12px;
    line-height: 22px;
}

.buttons .btn {
    margin: 0 8px 10px 0;
}

.btn:focus {
    box-shadow: none !important;
    outline: none;
}
.btn:active {
    box-shadow: none !important;
    outline: none;
}
.btn:active:focus {
    box-shadow: none !important;
    outline: none;
}

.btn.btn-icon-split i,
.dropdown-item.has-icon i {
    text-align: center;
    width: 15px;
    font-size: 15px;
    float: left;
    margin-right: 10px;
}

.btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    padding: 0.3rem 0.8rem;
    letter-spacing: 0.5px;
}

.btn.btn-lg {
    padding: 0.55rem 1.5rem;
    font-size: 12px;
}

.navbar {
    height: 70px;
    left: 250px;
    right: 5px;
    position: absolute;
    z-index: 890;
    background-color: transparent;
}
.navbar-landing {
    display: flex; /* Mengatur navbar sebagai flex container */
    justify-content: flex-start; /* Elemen berada di awal main axis */
    align-items: center; /* Vertikal alignment elemen ke tengah */
    width: 100%; /* Membuat navbar ujung ke ujung */
    padding: 10px 20px; /* Tambahkan padding untuk ruang ekstra */
    box-sizing: border-box; /* Pastikan padding tidak menambah width */
    background-color: #0d6efd; /* Warna background */
}
.navbar.active {
    background-color: #6777ef;
    box-shadow: rgba(103, 119, 239, 0.2) rgba(0, 0, 0, 0.03);
}

.navbar-bg {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115px;
    background-color: #6777ef;
    z-index: -1;
}

.navbar .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
.navbar .form-inline .form-control {
    background-color: #fff;
    border-color: transparent;
    padding-left: 20px;
    padding-right: 0;
    margin-right: -6px;
    min-height: 46px;
    font-weight: 500;
    border-radius: 3px 0 0 3px;
    transition: all 1s;
}
.navbar .form-inline .form-control:focus,
.navbar .form-inline .form-control:focus + .btn {
    position: relative;
    z-index: 9001;
}
.navbar .form-inline .form-control:focus + .btn + .search-backdrop {
    opacity: 0.6;
    visibility: visible;
}
.navbar
    .form-inline
    .form-control:focus
    + .btn
    + .search-backdrop
    + .search-result {
    opacity: 1;
    visibility: visible;
    top: 80px;
}
.navbar .form-inline .btn {
    border-radius: 0 3px 3px 0;
    background-color: #fff;
    padding: 9px 15px 9px 15px;
    border-color: transparent;
}
.navbar .form-inline .search-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.navbar .form-inline .search-result {
    position: absolute;
    z-index: 9002;
    top: 100px;
    background-color: #fff;
    border-radius: 3px;
    width: 450px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.navbar .form-inline .search-result:before {
    position: absolute;
    top: -26px;
    left: 34px;
    content: "\f0d8";
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    color: #fff;
    font-size: 30px;
}
.navbar .form-inline .search-result .search-header {
    padding: 13px 18px 2px 18px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 600;
    font-size: 10px;
    color: #bcc1c6;
}
.navbar .form-inline .search-result .search-item {
    display: flex;
}
.navbar .form-inline .search-result .search-item a {
    display: block;
    padding: 13px 18px;
    text-decoration: none;
    color: #34395e;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.navbar .form-inline .search-result .search-item a:hover {
    background-color: #f1f3fe;
}
.navbar .form-inline .search-result .search-item a:not(.search-close) {
    width: 100%;
}
.navbar .form-inline .search-result .search-item a i {
    margin-left: 0 !important;
}
.navbar .form-inline .search-result .search-item .search-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}
.navbar .active .nav-link {
    color: #fff;
    font-weight: 700;
}
.navbar .navbar-text {
    color: #fff;
}
.navbar .nav-link {
    color: #f2f2f2;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 100%;
}
.navbar .nav-link.nav-link-lg div {
    margin-top: 3px;
}
.navbar .nav-link.nav-link-lg i {
    margin-left: 0 !important;
    font-size: 18px;
    line-height: 32px;
}
.navbar .nav-link.nav-link-user {
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 600;
}
.navbar .nav-link.nav-link-user img {
    width: 30px;
}
.navbar .nav-link.nav-link-img {
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 50%;
    overflow: hidden;
}
.navbar .nav-link.nav-link-img .flag-icon {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    border-radius: 50%;
    line-height: 18px;
    height: 22px;
    width: 22px;
    background-size: cover;
}

.remove-caret:after {
    display: none;
}

.navbar .nav-link:hover {
    color: #fff;
}
.navbar .nav-link.disabled {
    color: #fff;
    opacity: 0.6;
}

.nav-collapse {
    display: flex;
}

@media (max-width: 575.98px) {
    body.search-show .navbar .form-inline .search-element {
        display: block;
    }
    .navbar .form-inline .search-element {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        z-index: 892;
        display: none;
    }
    .navbar .form-inline .search-element .form-control {
        float: left;
        border-radius: 3px 0 0 3px;
        width: calc(100% - 43px) !important;
    }
    .navbar .form-inline .search-element .btn {
        margin-top: 1px;
        border-radius: 0 3px 3px 0;
    }
    .navbar .form-inline .search-result {
        width: 100%;
    }
    .navbar .form-inline .search-backdrop {
        display: none;
    }
    .navbar .nav-link.nav-link-lg div {
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar .form-inline .search-element {
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .collapse {
        position: relative;
    }
    .collapse .navbar-nav {
        position: absolute;
    }
}
@media (max-width: 1024px) {
    .nav-collapse {
        position: relative;
    }
    .nav-collapse .navbar-nav {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
        position: absolute;
        top: 40px;
        left: 0;
        width: 200px;
        display: none;
    }
    .nav-collapse .navbar-nav.show {
        display: block;
    }
    .nav-collapse .navbar-nav .nav-item:first-child {
        border-radius: 3px 3px 0 0;
    }
    .nav-collapse .navbar-nav .nav-item:last-child {
        border-radius: 0 0 3px 3px;
    }
    .nav-collapse .navbar-nav .nav-item .nav-link {
        background-color: #fff;
        color: #6c757d;
    }
    .nav-collapse .navbar-nav .nav-item .nav-link:hover {
        background-color: #fcfcfd;
        color: #6777ef;
    }
    .nav-collapse .navbar-nav .nav-item:focus > a,
    .nav-collapse .navbar-nav .nav-item.active > a {
        background-color: #6777ef;
        color: #fff;
    }
    .navbar {
        left: 5px;
        right: 0;
    }
    .navbar .dropdown-menu {
        position: absolute;
    }
    .navbar .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
    }
}

body,
html {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f4f6f9;
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito", "Segoe UI", arial;
    color: #6c757d;
}

a.bb {
    text-decoration: none;
    border-bottom: 1px solid #6777ef;
    padding-bottom: 1px;
}

.form-divider {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
}

.ui-sortable-handle,
.sort-handler {
    cursor: move;
}

.bullet,
.slash {
    display: inline;
    margin: 0 4px;
}

.bullet:after {
    content: "•";
}

.slash:after {
    content: "/";
}

.login-brand {
    margin: 20px 0;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #666;
    text-align: center;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.gradient-bottom {
    position: relative;
}
.gradient-bottom:after {
    content: " ";
    position: absolute;
    bottom: 41px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.8)
    );
    height: 60px;
}

.fas,
.far,
.fab,
.fal {
    font-size: 13px;
}

.contact-map {
    width: 100%;
    height: 100%;
    min-height: 400px;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.banner {
    width: 100%;
    min-height: 75vh;
    background-image: url("../img/hero1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    place-items: center;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(0, 51, 160, 1),
        rgba(0, 51, 160, 0.25)
    );
}

.banner .container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .container .text {
    position: relative;
    z-index: 1;
    color: #fff;
    width: 1000px;
}

.banner .container .text h1 {
    font-size: 4.5rem;
    padding-bottom: 2rem;
}

.banner .container .text p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-bottom: 2.5rem;
}

.banner-info-card {
    width: 100%;
    background-image: url("../img/vehicle-repair.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    place-items: center;
}

.banner-info-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 51, 160, 0.9);
}

.banner-info-card .container {
    width: 80%;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    align-items: flex-start;
    z-index: 1;
    position: relative;
}

.banner-info-card .container .text {
    position: relative;
    z-index: 1;
    color: #f79000;
    max-width: 100%;
}

.banner-info-card .container .text h3 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.banner-info-card .container .text p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 2rem;
    color: #fff;
}

.banner-info-card .container img {
    width: 15%;
    padding-top: 50px;
    padding-bottom: 32px;
}

body:not(.sidebar-mini) .sidebar-style-1 .sidebar-menu li.active a {
    background-color: #6777ef;
    color: #fff;
}
body:not(.sidebar-mini)
    .sidebar-style-1
    .sidebar-menu
    li.active
    ul.dropdown-menu
    li
    a {
    color: #e8ebfd;
}
body:not(.sidebar-mini)
    .sidebar-style-1
    .sidebar-menu
    li.active
    ul.dropdown-menu
    li
    a:hover {
    background-color: #6777ef;
    color: #fff;
}
body:not(.sidebar-mini)
    .sidebar-style-1
    .sidebar-menu
    li.active
    ul.dropdown-menu
    li.active
    a {
    color: #fff;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a {
    padding-left: 16px;
    background-color: transparent;
    position: relative;
}
body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 4px;
    background-color: #6777ef;
}
body:not(.sidebar-mini)
    .sidebar-style-2
    .sidebar-menu
    li.active
    ul.dropdown-menu
    li
    a {
    padding-left: 61px;
    background-color: #fff;
}

@media (max-width: 1024px) {
    .sidebar-gone-hide {
        display: none !important;
    }
    .sidebar-gone-show {
        display: block !important;
    }
    .main-sidebar {
        position: fixed !important;
        margin-top: 0 !important;
        z-index: 891;
    }
    body.layout-2 .main-wrapper,
    body.layout-3 .main-wrapper {
        width: 100%;
        padding: 0;
        display: block;
    }
    .main-content {
        padding-left: 30px;
        padding-right: 30px;
        width: 100% !important;
    }
    .main-footer {
        padding-left: 30px;
    }
    body.search-show {
        overflow: hidden;
    }
    body.search-show .navbar {
        z-index: 892;
    }
    body.sidebar-show {
        overflow: hidden;
    }
    body.search-show:before,
    body.sidebar-show:before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
        z-index: 891;
        -webkit-animation-name: fadeinbackdrop;
        animation-name: fadeinbackdrop;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    @-webkit-keyframes fadeinbackdrop {
        to {
            opacity: 0.6;
        }
    }
    @keyframes fadeinbackdrop {
        to {
            opacity: 0.6;
        }
    }
}

@media (max-width: 575.98px) {
    .banner

    .banner .contain {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .banner .contain .text .display-3 {
        font-size: 32px;
    }

    .banner .container .text p {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .banner .contain .text h1 {
        font-size: 4.5rem;
    }

    .banner .contain .text p {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

